@import "bourbon/bourbon";
@import "neat/neat";

$textcolor : #313131;
$modulebgcolor : #EBEBEB;
$modulebordercolor : #D4D4D4;

html, body {
  margin: 0 auto;
  @include outer-container;
  font-family: 'Karla', sans-serif;
  color: $textcolor;
}

h2 {
  font-family: 'Play', sans-serif;
}

input, select, button {
  margin-bottom: 15px;
  width: 135px;
  height: 30px;
}

small {
  color: gray;
}

.username {
  font-size: 40px;
  font-family: 'Play', sans-serif;
}

.warframe {
  font-size: 36px;
  font-family: 'Play', sans-serif;
}

.masteryrank {
  font-size: 32px;
}

.menu {
  @include span-columns(11);
  background-color: $modulebgcolor;
  border: 1px solid $modulebordercolor;
  padding: 10px;
  margin-bottom: 10px;
  word-spacing: 20px;
}

.menu a {
  color: #313131;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  color: #61ADFC;
}

.builder-form {
  @include span-columns(2);
  background-color: $modulebgcolor;
  border: 1px solid $modulebordercolor;
  padding: 10px;
}

.build-result {
  @include span-columns(9);
  background-color: $modulebgcolor;
  border: 1px solid $modulebordercolor;
  padding: 10px;
}

.build-result-image {

}

.dps-wrapper {
  @include span-columns(11);
  background-color: $modulebgcolor;
  border: 1px solid $modulebordercolor;
  padding: 10px;
}
